{
    "extends": [
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier",
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules":{
        "prettier/prettier":"error"
    }
}